.login-container{

    background-color: rgb(182, 231, 20);
    color: rgb(3, 3, 29);
    height: 100%;
    width: 600px; 
    margin : auto;
    padding: 20px 10px;
    transition: 0.3 5ms;
     
}
.login-container h2{
    color: green;
     font-weight: 700;
}

label{
    color:rgb(199, 19, 19);
    font-weight: 500;
}

.login-container p{

    color: black;
     font-weight: 500;
      
}
.login-container span{
    color: blue;
}
.login-container input{

    border: 1px solid gainsboro;
    padding: 5px;
    border-radius: 4px;

}