
.header{
    height: 45vw;
    margin: 30px auto;
    background: url('https://static.vecteezy.com/system/resources/previews/031/281/930/large_2x/indian-food-dishes-in-a-bowl-ai-generated-free-photo.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 20%;
    margin-top: 5%;
    bottom: 5%;
    left: 10vw;
    animation: fadeIn 5s;

}

.header-contents h2{

    font-weight: 500px;
    font-size: max(4.5vw,15px);
    color:white;
    top: 50%;
}

.header-contents p{

    font-size: 1vw;
    color:white
}

.header-contents button{

    border: 1px;
    color:rgb(174, 18, 18);
    font-weight: 500;
    padding: 1vw 2vw;
    background-color: white;
    border-radius: 20px;
    font-size: max(1vw,13px);
}
